* {
  box-sizing: border-box;
  /*Height and width calc includes border and padding*/
}

body {
  margin: 0;
  padding: 0;
}

/*Navigation bar [caution! unless youre really sure , dont disturb this]*/

.topnav {
  display: flex;
  justify-content: space-around;
  text-align: center;
  align-items: flex-start;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #004080;
  position: relative;
  top: 0;
}

#main-icon {
  height: 5rem;
  width: 10rem;
}

.navBlock {
  display: inline-block;
  color: white;
  text-align: center;
  padding-top: 2em;
  text-decoration: none;
}

.navBlock:hover {
  color: greenyellow;
}

/*Background image with white text at the middle of backgrnd pic*/
/*Take note img#background-pic is not the same with img  #background-pic,
the former target elemnt with both image AND id, the latter only target the child of img with that id*/
img#background-pic {
  max-width: 100%;
  height: auto;
  object-fit: scale-down;
}

.background-container {
  position: relative;
  margin: 0;
  text-align: center;
  overflow: hidden;
}

.background-image {
  z-index: -2;
}

.background-title {
  font-size: 6em;
  z-index: 1;
  color: antiquewhite;
  width: fit-content;
}
/*class put thing at the center of container, used in backgrnd pic*/
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
/* Content [under progress] */
.content-container {
  position: relative;
  margin: 0;
  top: 0;
}
/*Blue container for title which in white color*/
.blue-container {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 2rem;
  text-align: center;
  vertical-align: top;
  background-color: #004080;
  color: white;
  margin: 0;
  padding: 1rem;
  border: 0;
  width: 100%;
}

#inside-background-container {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, -1%);
}
main {
  height: 130vh;
  width: auto;
}
/* footer  */
footer {
  width: 100%;
  background-color: black;
}

.footer-container {
  display: block;
}

.footer-word {
  color: white;

}

.footer-right,
.footer-left {
  display: inline-block;
  vertical-align: bottom;

}

.footer-left {
  margin: 3em 2em 2em 4em;
  width: 70%;
}

.footer-left div label {
  display: block;
  margin: 1em 0;
}

div#footer-feedback-box, 
div#footer-text-input {
  display: inline-block;
  vertical-align: top;
  margin-right: 3em;
  margin-bottom: 5em;
}

.footer-right {
  margin: 3em 2em 2em ;
  
}

.footer-right div p {
  font-size: x-large;
  text-align: left;
  
}

.footer-right div a {
  display: inline-block;
	width: 35px;
	height: 35px;
	cursor: pointer;
	background-color:  #33383b;
	border-radius: 2px;

	font-size: 20px;
	color: #ffffff;
	text-align: center;
	line-height: 35px;

  margin-right: 3px;
  margin-top: 1em;

}

#comment-footer {
  resize: none;
  overflow: auto;
  height: 20vh;
  width: 20vw;
}

#footer-btn {
  padding: 1.5em;
  background-color: cadetblue;
  font-family: Arial, Helvetica, sans-serif;
  border-radius: 1em;
  width: 14em;
  color: rgb(31, 30, 30);
}

@media only screen and (max-width: 820px) {
  /* For mobile phones: */
  #inside-background-container {
    position: relative;
  }

  .centered.background-title {
    position: relative;
    background-color: #004080;
  }
  .topnav {
    display: block;

    text-align: center;
    align-items: center;
  }
  .navBlock {
    display: inline-block;
  }
}
