* {
  box-sizing: border-box;
  /*Height and width calc includes border and padding*/
}

body {
  margin: 0;
  padding: 0;
  
}

/*Navigation bar [caution! unless youre really sure , dont disturb this]*/

.topnav {
  display: flex;
  justify-content: space-around;
  text-align: center;
  align-items: flex-start;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #004080;
  position: relative;
  top: 0;
}

#main-icon {
  height: 5rem;
  width: 10rem;
}

.navBlock {
  display: inline-block;
  color: white;
  text-align: center;
  padding-top: 2em;
  text-decoration: none;
}

.navBlock:hover {
  color: greenyellow;
}


/*Background image with white text at the middle of backgrnd pic*/
/*Take note img#background-pic is not the same with img  #background-pic,
the former target elemnt with both image AND id, the latter only target the child of img with that id*/
img#background-pic {
  max-width: 100%;
  height: auto;
  object-fit: scale-down;
}

.background-container {
  position: relative;
  margin: 0;
  text-align: center;
  overflow: hidden;
}

.background-image {
  z-index: -2;
}

.background-title {
  font-size: 6em;
  z-index: 1;
  color: antiquewhite;
  width: fit-content;
}
/*class put thing at the center of container, used in backgrnd pic*/
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
/* Content [under progress] */
.content-container {
  position: relative;
  margin: 0;
  top: 0;
}
/*Blue container for title which in white color*/
.blue-container {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 2rem;
  text-align: center;
  vertical-align: top;
  background-color: #004080;
  color: white;
  margin: 0;
  padding: 1rem;
  border: 0;
  width: 100%;
}

#inside-background-container {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, -1%);

}
main {
  height: 130vh;
  width: auto;

}

footer {
  width: 100%;
  background-color: black;
  
}

.footer-word { 
  color: white;
  font-size: 1em;
}

.flex-container {
  
  display: flex;
  flex-wrap: nowrap;
  align-content: flex-start;
  flex-direction:column;
  
  
}

.flex-container   div  {
  
  padding: 2em;
  align-items: center;
}

#comment-footer {
  resize: none;
  overflow: auto;
  height: 20vh;
  width: 25em;
}

footer form div input {vertical-align: top;}
footer form div label {vertical-align: top;}

#footer-btn {
  margin-left: 5em;
}

@media only screen and (max-width: 820px) {
  /* For mobile phones: */
  #inside-background-container {
    position: relative;
  }

  .centered.background-title {

    position: relative;
    background-color: #004080;
  }
  .topnav {
    display: block;
    
    text-align: center;
    align-items: center;
    
  }
  .navBlock {
    display: inline-block;
    
  }
}
